* {
  box-sizing: border-box;
}

#q4Wrapper {
  background-color: #2A3035;
  font-family: "Roboto", sans-serif;
  color: white;
}
#q4Wrapper h1, #q4Wrapper h3 {
  margin: 0;
}
#q4Wrapper h1 {
  font-size: 48px;
}
#q4Wrapper h3 {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
#q4Wrapper header, #q4Wrapper footer {
  background-color: #22272B;
}
#q4Wrapper header {
  padding: 20px;
}
#q4Wrapper footer {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}
#q4Wrapper article {
  text-align: center;
}
#q4Wrapper article img {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
#q4Wrapper a {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
}
#q4Wrapper a:hover {
  transform: scale(1.05);
}
#q4Wrapper a span {
  opacity: 0.5;
}

.layout_inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 20px;
}
.layout_header {
  margin-bottom: 30px;
  text-align: center;
}

/* Begin styling the report items here! */

/* settings for this grid layout borrowed from Toast Grid, https://daneden.github.io/Toast/ */
.reports {
  list-style: none;
  margin-left: -20px;
}
.reports_item {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 20px;
  vertical-align: top; 
  padding-bottom: 30px;
}
.col_1-of-3--lg {
  width: 33.33333%;
}
@media screen and (max-width: 768px) {
  .col_1-of-2--md {
    width: 50%;
  }
}
@media screen and (max-width: 550px) {
  .col_1-of-1--sm {
    width: 100%;
  }
}
/* fixing the issue with the spacing of report cover images at this in-between breakpoint */
@media screen and (min-width: 768px) and (max-width: 830px) {
  .reports_cover {
      width: 90%;
  }
}